{% extends 'dashboard/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ title }}</legend>
        <div class="mb-1">Phone number*</div>
        <div class="form-row">
            <div class="form-group col-1 mb-0">
                {{ form.country_code|as_crispy_field }}
            </div>
            <div class="form-group col-2 mb-0 ml-1">
                {{ form.area_code|as_crispy_field }}
            </div>
            <div class="form-group col-3 mb-0">
                {{ form.number|as_crispy_field }}
            </div>
            <div class="form-group col-2 mb-0">
                {{ form.extension|as_crispy_field }}
            </div>
        </div>
        {{ form.type|as_crispy_field }}
        {{ form.person|as_crispy_field }}
        {{ form.company|as_crispy_field }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Save</button>
    </div>
</form>
{% endblock content %}