{% extends 'dashboard/base.html' %}
{% block content %}
<div class="row d-flex justify-content-center">
  <a href="{% url 'business:projects' %}" class="text-decoration-none">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card projects border-left-primary">
        <div class="img-container">
          {% load static %}
          <img src="static/dashboard/img/projects.png" alt="Projects">
          <div class="text-container">Projects
            <p class="value">{{ global_projects }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="{% url 'leads:companies' %}" class="text-decoration-none">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card leads border-left-primary">
        <div class="img-container">
          {% load static %}
          <img src="static/dashboard/img/leads.png" alt="Projects">
          <div class="text-container">Leads
            <p class="value">{{ global_leads }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#" class="text-decoration-none">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card currency border-left-primary">
        <div class="img-container">
          {% load static %}
          <img src="static/dashboard/img/currency.png" alt="Projects">
          <div class="text-container">Currency
            <p class="value">{{ global_currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="{% url 'business:reminder-list' %}" class="text-decoration-none">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card tasks border-left-primary">
        <div class="img-container">
          {% load static %}
          <img src="static/dashboard/img/tasks3.png" alt="Projects">
          <div class="text-container">Tasks
            <p class="value">{{ global_tasks }}</p>
            <!--                <div class="col">-->
            <!--                  <div class="progress progress-sm mr-2">-->
            <!--                    <div class="progress-bar bg-info" role="progressbar"-->
            <!--                         style="width: {% widthratio global_tasks_done global_tasks 100 %}%"-->
            <!--                         aria-valuenow="{{ global_tasks }}"-->
            <!--                         aria-valuemin="0"-->
            <!--                         aria-valuemax="100">-->
            <!--                    </div>-->
            <!--                  </div>-->
            <!--                </div>-->
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<article class="media content-section">
  <!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
  <div class="media-body">
    <div class="article-metadata">
      <h3>Consider getting in touch</h3>
      <small class="text-muted">Companies performing low activity</small>
    </div>
    <p class="article-content">
      {% for company in low_activity_leads %}
      <a href="#">{{ company }}</a>
      {% endfor %}
    </p>
  </div>
</article>
<article class="media content-section">
  <!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
  <div class="media-body">
    <div class="article-metadata">
      <h3>Recently viewed</h3>
      <small class="text-muted">Your recent activity on leadbook</small>
    </div>
    <p class="article-content">
      <a href="#">Project</a>
      <a href="#">Company</a>
      <a href="#">Reminder</a>
      <a href="#">Project</a>
    </p>
  </div>
</article>
<article class="media content-section">
  <!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
  <div class="media-body">
    <div class="article-metadata">
      <h3>Lost in gloom</h3>
      <small class="text-muted">Need to contact</small>
    </div>
    <p class="article-content">
      <a href="#">Company</a>
      <a href="#">Company</a>
      <a href="#">Company</a>
    </p>
  </div>
</article>
<article class="media content-section">
  <!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
  <div class="media-body">
    <div class="article-metadata">
      <h3>Upcoming</h3>
      <!--        <small class="text-muted">15 July 2020</small>-->
    </div>
    <p class="article-content">
      <a href="#">Event</a>
      <a href="#">Reminder</a>
      <a href="#">Event</a>
    </p>
  </div>
</article>
<article class="media content-section">
  <!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
  <div class="media-body">
    <div class="article-metadata">
      <h3>Your score</h3>
      <small class="text-muted">KPI based on activity</small>
    </div>
    <p class="article-content">
      <a href="#">number of meetings last week/month</a>
      <a href="#">Number of events last week/month</a>
      <a href="#">New customers week/month</a>
    </p>
  </div>
</article>
<article class="media content-section">
  <!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
  <div class="media-body">
    <div class="article-metadata">
      <h3>Today (incl. overdue)</h3>
      <small class="text-muted">KPI based on activity</small>
    </div>
    <p class="article-content">
      <a href="#">Event</a>
      <a href="#">Reminder</a>
      <a href="#">Event</a>
    </p>
  </div>
</article>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{% endblock content %}