{% extends 'dashboard/base.html' %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
<div>
  <h3 class="mb-4">Widgets
    <a href="{% url 'dashboard:settings' %}" class="mr-3" data-toggle="tooltip" data-placement="right" title="Add new widget">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-plus-circle-fill text-info" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
    </a>
  </h3>
</div>
<div class="widget-container">
  {% for widget in widget_list %}
  <div class="card size-{{ widget.size }} {{ widget.title }} border-left-primary mr-lg-4">
    <a href="{{ widget.url }}" class="text-decoration-none size-{{ widget.size }}">
      <div class="img-container size-{{ widget.size }}">
        <img src="static/dashboard/img/{{ widget.title }}.png" alt="{{ widget.title }}">
        <div class="text-container">
          {% if widget.description %}
          <div>
            <strong>{{ widget.description }}</strong>
          </div>
          {% else %}
          <div class="uppercase">
            {{ widget.title }}
          </div>
          {% endif %}
          <div class="value value-{{ widget.type }}">
            {% if widget.type == 'QuerySet' %}
            <table class="table table-borderless w-auto mb-0">
              <tbody>
              {% for company in widget.value %}
              {% if forloop.counter < 7 %}
              <tr>
                <td class="pl-0 py-1">
                  <a href="{% url 'leads:detail' company.pk %}" class="text-white">
                    {{ company }}
                  </a>
                </td>
                {% if company.get_email %}
                <td class="pl-0 py-1">
                  <a class="ml-3" href="mailto:{{ company.get_email }}" data-toggle="tooltip" data-placement="right" title="Send email to {{ company.get_email.person }}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg>
                  </a>
                </td>
                {% endif %}
                <!--              TODO: add a pop-up screen with all phones available if many-->
                {% if company.get_phone %}
                <td class="pl-0 py-1">
                  <a class="ml-3 text-success" href="tel:+{{ company.get_phone }}" data-toggle="tooltip" data-placement="right" title="Call {{ company.get_phone.person }}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                    </svg>
                  </a>
                </td>
                {% endif %}
              </tr>
              {% endif %}
              {% endfor %}
              </tbody>
            </table>
            <a href="{% url 'leads:companies' %}?hot=true" class="btn btn-info mt-3 p-0 px-2"><small>view all {{ widget.value.count }} leads</small></a>
            {% else %}
            {{ widget.value }}
            {% endif %}
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

  </div>
</article>
{% if hot_leads %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h3>Consider getting in touch</h3>
      <small class="text-muted">Companies performing low activity</small>
    </div>
    <table class="table table-borderless w-auto">
      <tbody>
      {% for lead in hot_leads %}
      <tr>
        <td>
          <a href="{% url 'leads:detail' lead.pk %}" class="text-secondary">
            {{ lead }}
          </a>
        </td>
        {% if lead.person_set.first.email_set.count %}
        <td>
          <a class="ml-3" href="mailto:{{ lead.person_set.first.email_set.first.email }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg>
          </a>
        </td>
        {% endif %}
        {% if lead.person_set.first.phone_set.count %}
        <td>
          <a class="ml-3 text-success" href="tel:+{{ lead.person_set.first.get_phone }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
            </svg>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</article>
{% endif %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h3>Recently viewed</h3>
      <small class="text-muted">Your recent activity on leadbook</small>
    </div>
    <p class="article-content">
      <a href="#">Project</a>
      <a href="#">Company</a>
      <a href="#">Task</a>
      <a href="#">Project</a>
    </p>
  </div>
</article>
<article class="media content-section">
  <!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
  <div class="media-body">
    <div class="article-metadata">
      <h3>Lost in gloom</h3>
      <small class="text-muted">Need to contact</small>
    </div>
    <p class="article-content">
      <a href="#">Company</a>
      <a href="#">Company</a>
      <a href="#">Company</a>
    </p>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h3>Upcoming</h3>
    </div>
    <p class="article-content">
      <a href="#">Event</a>
      <a href="#">Task</a>
      <a href="#">Event</a>
    </p>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h3>Your score</h3>
      <small class="text-muted">KPI based on activity</small>
    </div>
    <p class="article-content">
      <a href="#">number of meetings last week/month</a>
      <a href="#">Number of events last week/month</a>
      <a href="#">New customers week/month</a>
    </p>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h3>Today (incl. overdue)</h3>
      <small class="text-muted">KPI based on activity</small>
    </div>
    <p class="article-content">
      <a href="#">Event</a>
      <a href="#">Task</a>
      <a href="#">Event</a>
    </p>
  </div>
</article>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{% endblock content %}