{% extends 'dashboard/base.html' %}
{% block content %}
<article class="media content-section">
    <!--        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">-->
    <div class="media-body">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h3>{{ project }}</h3>
            </div>
            <div class="p-2 bd-highlight">
                <a href="{% url 'business:project-update' project.pk %}" class="btn btn-outline-info float-right">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </a>
                <a href="{% url 'business:project-delete' project.pk %}" class="btn  btn-outline-danger float-right">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>
            </div>
        </div>
        {% load humanize %}
        {% if project.volume %}
        <small><strong class="text-success">€ {{ project.volume|intcomma }}</strong></small>
        {% endif %}
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
                Free Space
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
                Warning
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">
                Danger
            </div>
        </div>
        <p class="article-content">
            {{ project.description|linebreaks }}
            <!--        DISCOUNT TABLE-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Product group</th>
                <th scope="col">Discount</th>
                <th scope="col">Status</th>
                <!--                      <th scope="col">Class</th>-->
            </tr>
            </thead>
            <tbody>
            {% for discount in company.discounts.all %}
            <tr>
                <td>{{ discount.product_group.description }}</td>
                <th scope="row">{{ discount.value }} %</th>
                <td>{{ discount.status }}({{ discount.turnover_class }})</td>
                <!--                  <td>{{ discount.turnover_class }}</td>-->
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <strong>History</strong>
        <a href="{% url 'business:event-create' %}?project={{ project.id }}&company={{ project.company_contractor.id }}" class="ml-2" type="submit">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            </svg>
        </a>
        {% if project.event_set.all %}
        <div class="container">
            <div class="row">
                <div class="mt-1 mr-5">
                    <ul class="timeline">
                        {% for event in project.event_set.all reversed %}
                        <li>
                            <a href="{% url 'business:event-detail' event.pk %}">{{ event.get_title_display }}</a>
                            <a href="{% url 'business:event-update' event.pk %}" class="ml-3 text-info">
                                <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </a>
                            <a href="{% url 'business:event-delete' event.pk %}" class="ml-3 text-danger">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                            <span class="float-right text-muted">{{ event.date|date:'F d, Y' }}</span>
                            <p>{{ event.description|linebreaks }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!--                <ul class="list-group pt-2">-->
        <!--                  {% for event in company.event_set.all reversed %}-->
        <!--                    <span class="text-muted mb-1">{{ event.date|date:'F d, Y' }} - {{ event.title }}</span>-->
        <!--                    <li class="list-group-item">-->
        <!--                        {{ event.description }}-->
        <!--                    </li>-->
        <!--                    <br>-->
        <!--                  {% endfor %}-->
        <!--                </ul>-->
        {% endif %}
    </div>
</article>
<!--    {% if user == object.author %}-->
<div>
    <a class="btn btn-outline-secondary" href="#">Update</a>
    <a class="btn btn-outline-danger" href="#">Delete</a>
</div>
<!--    {% endif %}-->
{% endblock content %}