{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form id="project-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>
            {{ form|crispy }}
        </fieldset>
        <fieldset id="inlines">
            <legend class="border-bottom mb-4">Participants</legend>
            <div class="company-formset">
                <div class="inline-row">
                {{ inline_formset.management_form }}
                {%  for f in inline_formset %}
                <div class="form-row" id="{{ f.prefix }}-row">
                        {% for line in f %}
                        {% if line.instance.pk %}{{ line.DELETE }}{% endif %}
                        {{ line|as_crispy_field }}
                        {% if line.errors %}
                        <span style="color:red;">{{ line.errors }}</span>
                        {% endif %}
                        {% endfor %}
                </div>
                {% endfor %}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save</button>
            {% if project.pk %}
            <a href="{% url 'business:project-delete' object.pk %}" class="btn btn-outline-danger ml-3">Delete</a>
            {% endif %}
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $('#project-form div.form-row').formset({
            prefix: '{{ inline_formset.prefix }}'
        });
    });
</script>
{% endblock content %}