{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
<form id="project-form" method="POST" enctype="multipart/form-data" action=".">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ title }}</legend>
        {{ form|crispy }}
    </fieldset>
    <hr/>
    <legend class="border-bottom mb-4">Participants</legend>
    {%  for f in inline_formset %}
    <div class="company-formset">
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
<!--                {% if f.company.pk %}{{ f.DELETE }}{% endif %}-->
                {{ f.company|as_crispy_field }}
                {% if f.company.errors %}
                {% for error in f.company.errors %}
                {{ error|escape }}
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ f.role|as_crispy_field }}
                {% if f.role.errors %}
                {% for error in f.role.errors %}
                {{ error|escape }}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {{ inline_formset.management_form }}
    {% endfor %}
    {% if inline_formset.non_form_errors %}
    {% for error in inline_formset.non_form_errors %}
    {{ error|escape }}
    {% endfor %}
    {% endif %}
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Save</button>
    </div>
</form>
</div>
{% load static %}
<script src="{% static '/dashboard/scripts/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#project-form company-formset form-row').formset({
            prefix: '{{ formset.prefix }}'
        });
    })
</script>
{% endblock content %}