{% extends 'dashboard/base.html' %}
{% block content %}
<form method="GET" class="form-inline d-flex md-form mr-auto mb-2 form-sm mt-0">
    <input type="search" id="site-search" name="q" placeholder="Search" {% if q %} value="{{ q }}"{% endif %} aria-label="Search" class="form-control flex-fill w-auto">
    <a href="{% url 'business:project-create' %}" class="btn btn-outline-info ml-2" data-toggle="tooltip" data-placement="right" title="Add new project">
        create
    </a>
</form>
<table class="table table-hover content-section">
    <thead>
    <tr>
        <th scope="col">Code</th>
        <th scope="col">Contractor</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for project in project_list %}
    <tr>
        <td><a href="{% url 'business:project-detail' project.pk %}" class="text-dark">{{ project }}</a></td>
        <td>
            {% if project.projectcompany_set.first %}
            {% for partnership in project.projectcompany_set.all %}
            <a class="text-muted" href="{% url 'leads:detail' partnership.company.pk %}">{{ partnership.company }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if project.status|stringformat:"s" == "Completed" %}
            <span class="text-success">{{ project.status }}</span>
            {% elif project.status|stringformat:"s" == "Canceled" %}
            <span class="text-danger">{{ project.status }}</span>
            {% else %}
            <span class="text-warning">{{ project.status }}</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
<hr>
{% if page_obj.has_previous %}
<a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
<a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
{% endblock content %}